extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.premios
    .container
        .row
            .col-24
                h2.premios__title.wow.fadeInUp Ganadores
                h3.premios__subtitle.wow.fadeInUp del mes del niño
                p.premios__text.wow.fadeInUp En el Mes del Niño un premio distinto cada día para que te diviertas junto a tu familia
        .row
            .col-24.col-md-12
                .premios__index.wow.fadeInLeft
                    img(src="/images/premio-1.png")
            .col-24.col-md-12
                .premios__table.wow.fadeInRight
                    h6.premios__table-supertitle Primer Premio
                    h3.premios__table-title.-red Ganadores del día
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
        .row    
            .col-24.col-md-12.pull-right
                .premios__index.wow.fadeInRight
                    img(src="/images/premio-2.png")            
            .col-24.col-md-12
                .premios__table.wow.fadeInLeft
                    h6.premios__table-supertitle Segundo Premio
                    h3.premios__table-title.-blue Ganadores del día
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
        .row    
            .col-24.col-md-12
                .premios__index.wow.fadeInLeft
                    img(src="/images/premio-3.png")
            .col-24.col-md-12
                .premios__table.wow.fadeInRight
                    h6.premios__table-supertitle Tercer Premio
                    h3.premios__table-title.-orange Ganadores del día
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-1.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
                    .premios__table-group
                        .premios__cell.-avatar
                            img(src="/images/avatar-2.png")
                        .premios__cell.-name
                            p nombre del usuario
                        .premios__cell.-score
                            span 1500
    
    .ranking__yellow-footer