footer.footer
    .container
        .row
            .col-24
                .footer__container
                    a.footer__logo(href="#")
                        img(src="/images/logo-footer.png")
                    .footer__wrapper
                        a.footer__legal(href="#") Bases y condiciones
                        ul.footer__social 
                            li.-blue
                                a
                                    i.fa.fa-facebook
                            li.-black
                                a
                                    i.fa.fa-instagram
                            li.-red
                                a
                                    i.fa.fa-youtube-play







