footer.footer
    .container
        .row
            .col-24
                .footer__container
                    a.footer__logo(href="#")
                        img(src="/images/logo-footer.png")
                    .footer__wrapper
                        a.footer__legal(href="#") Bases y condiciones
                        ul.footer__social 
                            li.-blue
                                a(href="https://www.facebook.com/YoQuieroOtroMundoBilzYPap" target="_blank")
                                    i.fa.fa-facebook
                            li.-black
                                a(href="https://www.instagram.com/bilzypapcl/?hl=es-la" target="_blank")
                                    i.fa.fa-instagram
                            li.-red
                                a(href="https://www.youtube.com/user/bilyymaik" target="_blank")
                                    i.fa.fa-youtube-play







