header.header--game
    .header--game__container
        .header--game__logo
            img(src="/images/logo.png")

        .header--game__logo-title
            img(src="/images/dia-del-nino.png")

        .header--game__wrapper.-login
            .header--game__group
                .header--game__avatar
                    img(src="/images/avatar-big.png")
                p.header--game__text ¡inicia sesión!
            .header--game__hamburguer
                span
                span
                span

        .header--game__wrapper.-profile
            .header--game__group
                .header--game__avatar
                    img(src="/images/avatar-big.png")
                p.header--game__text seba
                span.header--game__total-score 18960
            .header--game__hamburguer
                span
                span
                span
            .header--game__icon-group
                .header--game__icon
                    img(src="/images/icon-coin-mono.png")
                .header--game__icon-wrapper
                    p.header--game__wrapper-title puntaje
                    span.header--game__wrapper-number 1890
            .header--game__icon-group
                .header--game__icon
                    img(src="/images/icon-trophy.png")
                .header--game__icon-wrapper
                    p.header--game__wrapper-title te quedan
                    .header--game__wrapper-number
                        span 120  
                        p s
            
